
/*estilo para la introduccion bienvenidos a CISCO*/
#content .content-wrap .container-row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: auto;
}


#content .content-wrap .container-row .container-text{
	width: 70%;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}


#content .content-wrap .container-row .container-image{
	width: 30%;
}


/*estilo para parrafos*/

#content .content-wrap p{
	width: 80%;
	font-size: 16px;
	
}


/*estilo para encabezados*/

#content .content-wrap h4{
	width: 65%;
}




#content .content-wrap h2{
	width: 65%;
}

/*estilo para nuestra mision*/
#content .content-wrap .entry-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
}

/*estilo para la lista */
#content .content-wrap li{
    width: 65%;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
}





